* {
  box-sizing: border-box;
  color: #28282B;
}

body {
  background-color: #28282B;
}

.card {
  max-width: 1000px;
  margin: 100px auto 0;
  background-color: rgb(248, 234, 234);
  border-radius: 30px;
  padding: 40px;
}


span {
  display: block;
  font-size: 18px;
  color: #212121;
}

label {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 10px;
}

input {
  width: 100%;
  max-width: 300px;
  font-size: 17px;
  font-weight: 500;
  padding: 12px 18px;
  background-color: #eeeeee;
  outline: none;
  border: 2px solid #cdcdcd;
  border-radius: 10px;
}

button {
  cursor: pointer;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  background-color: #625968;
  color: #fff;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
}