body{
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    color: #212121;
  }
  .mt-25{
    margin-top: 25px;
  }
  legend.page-title{
    font-size: 28px;
    font-weight: 800;
    color: #212121;
    text-align: center;
    margin-top: 100px;
  }
  
  .container{
    width: 100%;
    max-width: 1350px;
    margin: 50px auto 0;
    display: grid;
    grid-template-columns:1fr;
  }
  .child{ 
    width: 100%;
    margin: 0 auto;
  }
  
  label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 8px;
  }
  label:first-of-type{
    margin-top: 0;
  }
  input{ 
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 12px 18px;
    background-color: #eeeeee;
    outline: none;
    border: 2px solid #212121;
    border-radius: 8px;
  }
  button{
    cursor: pointer;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 48px;
    background-color: #212121;
    color: #fff;
    text-transform: uppercase;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: inset 1px 1px 10px 3px rgba(0,0,0, 0.5);
    transition: all 0.3s ease;
  }
  
  button:hover{
    box-shadow: none;
  }
  span{
    display: block;
    font-size: 18px;
    color:#212121;
  }
  table{
    width: 100%;
    text-align: center;
    border-radius: 5px;
  }
  table th{
    font-size: 19px;
    font-weight: bold;
    color: #fcfcfc;
    padding: 10px;
    background-color: #0c0c0c;
  }
  table tr{
    background-color: #f6f6f6be;
    padding: 10px 20px;
  }
  table td{
    padding: 20px;
    font-size: 17px;
    font-weight: 600;
    color: #686868;
  }
  table img{
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  
  .back-btn{
    width: fit-content;
    display: block;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #12d0b0; 
    margin: 30px auto;
    padding: 12px 25px;
    border: 1px solid #12d0b0;
  }